header {
  background-image: url('../images/steel.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
  header::before {
    content: '';
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
  }
.w3-top {
  background-color: #e6ce1b;
}
.hero {
  position: relative;
}
.link-button {
  background-color: #e6ce1b;
  color: #000000;
}